<!DOCTYPE html>
<html>
  <head>
    <title>Book Check</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

      <div class="submit-bar">
        <form action="/" method="post">
          <input type="url" name="url">
          <input type="submit" value="Submit"> 
        </form>
      </div>

      <ol class="bookmarks">
        <% bookmarks.forEach(function(bm) {  %>
          <li>
            <a target="_blank" href="<%= bm.url %>">
              <%= bm.title.substring(0, 50).trim() %>
            </a>
          </li>
        <% }) %>
      </ol>

    </div>
  </body>
</html>
