@import "normalize";

body {
  padding: 50px;
  font-size: 12px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000;
  &:hover {
    background: #000;
    color: #fff;
  }
}

.btn {
  padding: .8em;
  background: transparent;
  border: 1px solid #000;
  border-radius: 3px;
  &:hover,
  &:active {
    background: #000;
    color: #fff;
  }
}

.text.control {
  outline: none;
  border: 1px solid #000;
}

.top-bar {
  margin: 0 0 2% 5%;
  overflow: hidden;
  form#submit_url {
    float: left;
    width: 70%;
  }
  .text.control {
    width: 50%;
    padding: .8em;
    width: ~"calc(100% - 8em)";
  }
  .search.control {
    width: 20%;
    float: right;
    border-radius: 50px;
  }
}

.bookmarks {
  max-width: 100em;
  overflow: hidden;
  padding: 0;
  li {
    float: left;
    margin-left: 5%;
    width: 40%;
    word-break: break-all;
    &:hover .destroy { visibility: visible; }
  }
  .destroy {
    visibility: hidden;
    color: red;
    font-weight: bold;
    text-decoration: none;
    margin-left: .8em;
  }
}

